.float:hover {
  animation-name: float;
  animation-duration: 5s;
  animation-timing-function: ease-out;
}

@keyframes float {
  25% , 75% {
    transform: translateY(-16px);
  }

  50% , 100%  {
    transform: translateY(-8px);
  }
}
