// pulse
.pulse:hover {
  animation-name: pulse;
  animation-timing-function: cubic-bezier(.420, 0, .58, 1);
  animation-duration: 1.5s;
}

@keyframes pulse {
            0% { 
                transform: scale(.5); 
                background-color: green; 
                border-radius: 100%; 
            } 
  
            50% { 
                background-color: orange; 
            } 
  
            100% { 
                transform: scale(2.0); 
                background-color: red; 
            } 
}
